* {
    box-sizing: border-box;
}


body {
    min-width: 1440px; /*ширина макета**/ 
    font-family: "Roboto", sans-serif;
}


ul, p, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
} 


ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.container {
    max-width: 1200px;
    /*из макета ширина контента*/
    margin: 0 auto;
    /*ценртуем*/


    /*padding-left: 120px;
    padding-right: 120px;*/

}


.header {
    display: flex;
    align-items: center;
    /* выравнивание элементов вдоль поперечной оси*/
    justify-content: space-between;
    padding-top: 44px;
    margin-bottom: 40px;
}


.input {
    padding: 10px;
    
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 2px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding-left: 36px;
    /*место дял иконки доммика*/
    background-repeat: no-repeat;
    background-position: left 11px center;
    /*слева на 11px и по центру*/
}

.address{
    flex-grow: 0.8;
    flex-shrink: 1;
}

.input-address {
    width: 70%;
    height: 40px;
    box-sizing: border-box;
    background-image: url("../img/icon/home.svg");
    background-size: 16px 16px;

}



.input-search {
    width: 300px;
    background-image: url("../img/icon/search.svg");
    background-size: 18px 18px;
    margin-left: auto;/*флекс элемен прижмется  кправому краю контейнера*/
}


.buttons {
    /*флекс контейнер*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
}



.button {
    /*флекс элемент, котрый сам флекс контейнер*/
    min-height: 40px; /*для препонения тектсом чобы тектс не выпадал из кнопки*/
    display: flex;
    align-items: center;
    padding: 8px 16px;
    background-color: #FFFFFF;
    color: #595959;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
    border-radius: 2px;
    box-sizing: border-box;
}


.button-primary {
    /*флекс элемент*/
    background-color: rgba(24, 144, 255, 1);
    border: 1px solid rgba(24, 144, 255, 1);
    color: #ffffff;
    margin-right: 10px;
}


.button-icon {
    margin-right: 6px;

}


.button-card-text{
    margin-right: 10px; 
}


.button-cart {
    display: none;
    margin: 0 5px;
}

.button-out {
    display: none;
    margin: 0 5px;
}


.user-name {
    display: none;
    margin-right: 20px;
    font-weight: bold;
    font-size: 18px;
}


.main {
    background-color: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);

}


.promo {
    box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
    background-color: rgba(255, 241, 184, 1);
    border-radius: 12px;
    padding: 68px 70px;
    background-image: url("../img/promo/pizza.png"); /*формат png у него есть прозрачность*/
    background-repeat: no-repeat;
    background-position: top -100px right -247px;
    /*сдвигаем пиццу  от верха на -500 px, вправо на 200px*/
    background-size: 800px 600px;
    margin-bottom: 56px;
}


.promo-title {
    font-family: "Roboto", sans-serif;
    font-size: 39px;
    line-height: 46px;
    color: #302C34;
    font-weight: bold;
    margin-bottom: 20px;
}


.promo-text {
    max-width: 500px;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    line-height: 28px;
    color: #302C34;
    font-weight: normal;
}


.section-heading {
    display: flex;

    align-items: center;
    /*выранвиевание эелментво вдоль поперечной оси*/
    margin-bottom: 44px;
}


.section-title {
    margin-right: 30px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;

    color: #000000;
}


.cards {
    /*ul*/
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    /*ипсравить этот момент*/
    margin: 0;
    padding: 0;
}


.card {
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    overflow: hidden;
    /*если картинка вылезает за пределы картчоки,  то она скруглется */
    margin-bottom: 30px;
    flex-basis: 30%;/*для адатпива, это ширина краточки*/
}


.card-image {
    width: 384px;
    height: 250px;
    object-fit: cover;
    /*чтоб карткна подходила под размер конетйнера, в случае если она больше чем контейнер*/
}


.card-text {
    display: flex;
    flex-direction: column;
    
    padding-top: 20px;
    padding-left: 23px;
    padding-right: 23px;
    padding-bottom: 34px;
}


.card-text1{
    min-height: 275px;
}

.card-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
       
}


.card-title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;/*многтточит, если нектс не вмещается в контенйер*/
    white-space: nowrap;/*запрещаем перенос строки*/

}

.card-title-reg{
    font-weight: 400;

}

.card-tag {
    background-color: #262626;
    border-radius: 2px;
    padding: 1px 8px;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
    font-size: 12px;
}


.card-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;/*перенсим*/

}

.card-buttons{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;/*в конце попеерчной оси*/
    flex-grow: 1; /*флекс элемент увеличится если останется уптсое место*/
    margin-top: 24px;
}

.card-price-bold{
    margin-left: 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
}

.rating {
    margin-right: 26px;
    color: #FFC107;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    font-style: normal;
}


.price,
.category {

    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    font-style: normal;
    color: rgba(140, 140, 140, 1);
}


.category{
    overflow: hidden;
    text-overflow: ellipsis;/*многтточит, если нектс не вмещается в контенйер*/
    white-space: nowrap;/*запрещаем перенос строки*/
    max-width: 150px;
}


.price {
    margin-right: 10px;
}


.price::after {
    /*псеадоэлмент точка*/
    content: "";
    width: 5px;
    height: 5px;
    background-color: #8c8c8c;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    margin-left: 10px;
}


.ingredients{
    min-height: 40px;/*чтобы пеерплнение было*/
    /*overflow: hidden;*/
    /*text-overflow: /ellipsis;многтточит, если нектс не вмещается в контенйер
    white-space: nowrap;запрещаем перенос строки*/
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
    color: rgba(140, 140, 140, 1);

}


.footer{
    padding: 60px 0;
}


.footer-block{
    display: flex; 
    align-items: center;
    justify-content: space-between;
}


.footer-nav{/*флекс жлемент*/
    margin-right: auto;/*приж ет флекс желментв леов*/
    display: flex;
    justify-content: flex-start;
    margin-left: 35px;
    flex-wrap: wrap;
}


.footer-nav-item:not(:last-child){/*для всех кроме посдленего*/
    margin-right: 15px; 
}


.footer-link{/*a*/
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #595959;
}


.social-links{/*флекс жлемент*/
    width: 127px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.social-links-item:not(:last-child){/*для всех кроме посдленего*/
    margin-right: 15px; 
}


.modal{
    display: none;/*бфло flex чтобо кно было по центру*/
    position: fixed; /*чтобы модаьное окно непрокричвалось*/
    left:0;    
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}


.modal-auth {/*мод окно авторизации*/
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 999;
}


.is-open{/*этот класс будем подключать когда надо окно окрыть*/
    display: flex;
}


.modal-dialog{/*флекс элемт*/
    margin: auto;/*чтобф центровалсь окно при прокрутке*/
    max-width: 780px;
    width: 95%;
    padding: 40px 45px;

    background-color: #FFFFFF;
    border-radius: 5px;
}


.modal-dialog-auth {
    width: auto;
    position: relative;
}


.label-auth {
    display: block;
    margin: 30px;
}


.label-auth span {
    width: 80px;
    display: inline-block;
}


#input-error{
    width: 100px;
    display: block;
    font-size: 10px;
    color: red;
}


.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;

}


.modal-title{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
}


.close{
    font-size: 60px;
    background-color: transparent;
    border: none;
}

.close-auth {
    font-size: 36px;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 20px;
}

.modal-body{
    margin-bottom: 45px;
}


.food-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 8px;
    border-bottom: 2px solid rgba(217, 217, 217, 1);
    margin-bottom: 15px;

}



.food-name{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
}


.food-price{/*флекс элемент*/
    margin-left: auto;/*прижмет вправо*/
    margin-right: 47px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
}


.food-counter{
    display: flex;
    align-items: center;
}


.modal-auth .modal-footer {
    justify-content: flex-end;
}


.counter-button{
    width: 39px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #FFFFFF;

    box-sizing: border-box;
    border: 1px solid #40A9FF;

    border-radius: 2px;
    color: #40A9FF;
    font-size: 14px;
    line-height: 24px;
}


.counter{
    font-size: 16px;
    line-height: 24px;
    margin-left: 10px;
    margin-right: 10px;
}


.modal-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.modal-pricetag{
    background: #262626;
    border-radius: 5px;
    color: #ffffff;
    padding: 15px 20px;
    
    font-size: 20px;
    line-height: 23px;
}

.footer-buttons{

    display: flex;

}


.hide{
    display: none;
}

.error{
    display: none;
}


/*адаптив*/

@media (max-width: 1366px){/*для экрано до <=1366px*/

    .container{
        max-width: 960px;
    }

    .rating{
        margin-right: 15px;  
    }

    .promo{
        background-size: 750px;
        background-position: center right -300px;
    }

    .category, .price{
        font-size: 14px;
    }
}


@media (max-width: 992px){/*до <=992px*/

    .container{
        max-width: 750px;
    }

    .promo{
        padding: 50px;
        background-size: 500px;
        background-position: center right -200px;/*на 200 пиксе сдвинется в право*/
    }

    .promo-text{
        font-size: 18px;
        max-width: 400px;
    }

    .card{
        flex-basis: 49%;
    }

    .footer-link{
        font-size: 16px;
    }
}


@media (max-width: 768px){/*до 768px*/

    .container{
        max-width: 560px;
    }

    .card-info{
        flex-wrap: wrap;
    }

    .card .rating{
        flex-basis: 100%;
    }

    .card-title{
        font-size: 18px; 
    }

    .promo{
        background-size: 400px;
        background-position: bottom 50px right -200px; /*о низа ооталктваем на 50 px, от права отталктваем на -200px*/
    }

    .promo-title{
        font-size: 24px; 
        line-height: 1.4;
    }
}


@media(max-width: 578px){/*до 578px*/

    .container{
        width: 90%;
    }

    .header{/*флекс бокс*/
        flex-wrap: wrap;
    }

    .input-address{/*флекс элемент*/
        order:5;
        margin-top: 15px;
        flex: 1;/*расятгиваем на всю ширину*/
    }

    .promo{
        background-image: none;
    }

    .promo-title{
        margin-bottom: 10px;
    }

    .section-title{
        font-size: 20px;
    }

    .card{
        flex-basis: 100%;
    }

    .card-image{
        width: 100%;
    }

    .footer{
        padding: 30px 0;
    }

    .footer-block{
        align-items: flex-start;
    }

    .footer-nav{
        flex-direction: column;
        margin-right: 0;
        order:0;
        margin-left: 0;
    }

    .footer-logo{
        order:1;
        margin-right: 15px;
    }

    .social-links{
        order: 2;
    }
}


@media(max-width: 480px){/*до 480px*/

    .button-text{
        display: none;
    }

    .button{
        min-height: 40px; /*чтобы высота кнпоко была одинаковая*/
    }   

    .button-icon{
        margin: 0;
    }


    .promo{
        padding: 20px;
    }

    .section-heading{
        flex-wrap: wrap;
    }

    .footer-block{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .footer-logo{
        order:0;
        margin-bottom: 20px;
    }

    .footer-nav{
        margin-bottom: 20px;
    }
}



